//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.header
      div.container(onclick="location.href='/'", style="cursor: pointer")
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title Regina Score Report   
          p Below is the score report of the conversation you had with the Regina bot. It displays the points you scored by using assertive language/displaying confidance by not loosing temper. There is also a graph that shows your average emotional level throughout the conversation. Look at it to better understand where you can improve.
          
            //- a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/xxx/') Documentation
            //- a.resource-item(href='https://github.com/watson-developer-cloud/emotion-analysis-nodejs') Fork on Github
            //- a.resource-item(href='https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/emotion-analysis-nodejs.git') Fork and Deploy on Bluemix
